body {
    background-color:#002333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#calculadora {
    background-color:#B4BEC9 ;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}

#pantalla {
    background-color: #DEEFE7; /* Mantén tu color actual */
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #999;
    text-align: right;
    font-size: 24px;
    margin-bottom: 15px;
    width: 85%;
    margin: 30px auto;
    border-radius: 5px;
}

#contenedor {
    width: 100%;
    margin: 10px auto;
    padding: 5%;
}

button {
    height: 60px;
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.equals-button, .camera-button {
    grid-column: span 2; /* Si usas un diseño de cuadrícula */
}

#camera-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

#camera-video {
    max-width: 80%;
    max-height: 70%;
    margin-bottom: 20px;
}

#camera-controls {
    display: flex;
    gap: 10px;
}

#camera-controls button {
    padding: 10px 20px;
    background-color: #7d8287;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#camera-controls button:hover {
    background-color: #666b70;
}

#expression, #result {
    width: 100%;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    text-align: right;
    background-color:  #DEEFE7; 
    /*border-bottom: 1px dotted #ccc;*/
}

#expression {
    color: #555555;   
    
}
#result {
    font-weight: bold;
    color: #000;
}



.equals-button, .voz-button {
    grid-column: span 2;
}

.voz-button.listening {
    background-color: #FF4444;
    animation: pulse 1.5s infinite;
}
#voice-helper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.voice-instructions h3 {
    margin-top: 0;
}

.voice-instructions ul {
    padding-left: 20px;
}

.voice-instructions button {
    display: block;
    margin: 15px auto 0;
    padding: 8px 16px;
    background-color: #003049;
}

.hidden {
    display: none;
}
@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}
